<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thai Ha</title>
    <style>
div {
    border: 1px solid firebrick;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: lemonchiffon;
    padding: 100px 200px 0px 50px;
}
</style>
</head>
<body>
<a href="https://www.google.com.vn">Do you want to ask something?</a>
<a href="http://www.w3schools.com/tags/">This is HTLM reference</a>

<p><img src="http://i.imgur.com/Ga2MQLr.jpg" alt="con meo" width="10" height="10" >  </img></p>

<br>
<h1>haha</h1>
<br>
<h2>hahaaaaa</h2>
<div align="center" style="color: #FFDF0E;">
    <h1>hehe</h1>
    <h2>My name is Ha</h2>
</div>
<table>
    <tr>
    <th>Ten</th>
        <th>Ho</th>
    </tr>
    <tr>
        <td>Ha</td>
        <td>Luong</td>
        <td>Thai</td>
    </tr>



</table>
<ol>My favorite movies list
    <li type="2" value="3">The Lord of the Rings</li>
    <li>V for Vendetta</li>
    <li>Ratatoullie</li>
</ol>



</body>
</html>